/*.movie-search-results {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
}

.movie-poster-small {
  height: 120px;
}

.movie-search-display {
  display: inline-block;
}

.movie-search-info {
  display: inline-block;
  font-size: 150%;
  padding-left: 20px;
}
*/
